# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/

# Ignore PyCharm project files
.idea/

# Ignore VS Code workspace settings
.vscode/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Linux temporary files
*~
